@media only screen and (min-width:64em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    h1, footer {
        padding: 2%;
    }

    img {
        height: auto;
    }
}