@media only screen and (min-width:32.5em) {
    h1 {
        font-size: 3rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p {
        font-size: .8rem;
    }

    img {
        height: auto;
    }

    footer {
        font-size: 2rem;
    }
}