body {
    text-align: center;
}

h1, footer {
    background-color: grey;
    color: black;
    padding: 5%;
    font-size: 1.5rem;
}

h2 {
    color: lightgray;
}

section {
    border: 1px solid black;
    background-color: grey;
    padding: 0 0 10% 0;
    margin: 10%;
}

p {
    font-weight: bold;
    font-size: .7rem;
    line-height: 5px;
    color: black;
}

img {
    width: 80%;
    height: 100%;
    border: 2px solid black;
    box-shadow: 0 0 30px;
}

footer {
    font-size: 1rem;
}