body {
    display: grid;
    justify-content: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 1.9rem;
}
main {
    display: grid;
    width: 400px;
    margin: 1rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    padding-top: 10px;
    background-color: rgb(113, 168, 192);
}
#books {
    padding: 0.5rem;
}
input, button{
    padding: 0.5rem;
}
button {
    margin: 0.5rem;
}
