@media only screen and (min-width: 32.5em) {
    img {
        height: 80px;
        margin-left: 50px;
    }
    h1 {
        margin-left: 150px;
        font-size: 2em;
    }
    nav {
        flex-direction: row;
        background-color: black;
    }
    nav a {
        font-size: 1.1em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav div {
        width: 30%;
        text-align: center;
    }
    footer, p {
        font-size: 1.1em;
        padding-left: 50px;
    }
}