@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:wght@300&display=swap');
:root {
    --heading-font: "regular 400";
    --paragraph-font: Roboto, Helvetica, sans-serif;
}
body {
    max-width: 700px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, sans-serif;
}
header {
    display: flex;
    margin-top: 40px;
}
img {
    height: 50px;
}
nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
nav a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    color: #FEFEFE;
    background-color: #021012;
}
nav div {
    padding: 1px;
}
nav a:hover {
    background-color: #FEFEFE;
    color: #021012;
}
main {
    margin-top: 50px;
    margin-bottom: 50px;
}
.colors {
    margin: 50px auto;
}
.colors th {
    background-color: #b4b4b4;
}
.primary {
    background-color: #021012;
}
.secondary {
    background-color: #FEFEFE;
    border: 1px solid black;
}
.accent1 {
    background-color: #B4B4B4;
}
.accent2 {
    background-color: #063751;
}
h1 {
    font-size: 0.8em;
    margin-left: 20px;
}
h2, p {
    text-align: center;
}
footer {
    display: flex;
    background-color: #021012;
    font-size: 0.7em;
    color: #FEFEFE;
}