@media only screen and (min-width: 64rem) {
    header {
        height: 200px;
    }
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        margin-top: 60px;
        font-size: 22px;
    }
    nav ul li a {
        padding: 1.5rem 1rem;
        padding-left: 50px;
    }
    .logo {
        margin-left: 4rem;
    }
    .headings h1 {
        font-size: 21px;
        padding-bottom: 70px;
        margin-left: 20px;
        color: #F9D11F;
    }
    .sub {
        font-size: 14px;
        margin-top: -75px;
        margin-left: 24px;
        color: #4e040a;
    }
    .social {
        margin-top: 75px;
        margin-right: 182px;
    }
    .time {
        margin-top: -50px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 0px 10px 0px;
    }
    .contactinfo {
        margin-left: 1232px;
    }
}