@media only screen and (min-width: 35rem) {
    nav button {
        margin-left: 190px;
    }
    nav ul li a {
        border: none;
    }
    .headings h1 {
        font-size: 20px;
        color: #F9D11F;
    }
    .sub {
        color: #4e040a;
    }
    .social {
        margin-left: 196px;
    }
    .footerlogo, .contactinfo {
        display: flex;
    }
    h2 {
        color: #F9D11F;
        /* margin-top: 80px; */
    }
    p {
        color: #4e040a;
    }
    .grid1 img {
        width: 900px;
        padding-bottom: 10px;
    }
    .box, h2 {
        /* color: white; */
        font-size: 2.0rem;
    }
    .grid2 {
        grid-row: 5;
        margin-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        
    }
    .grid3 {
        grid-row: 5;
        
        margin-left: -463px;
    }
    .grid4 {
        grid-row: 2;
    }
    .box4 {
        width: 900px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 7px;
    }
    .grid5 {
        grid-row: 3;
        grid-column: 1;
        margin-left: 20px;
        padding-top: 20px;
        background-color: white;
        
    }
    .grid6 {
        grid-row: 3;
        grid-column: 2;
        margin-left: -463px;
        padding-top: 20px;
        background-color: white;
    }
    .grid7 {
        grid-row: 4;
        background-color: antiquewhite;
        border: 1px solid rgba(0,0,0,0.1);
        margin-top: 20px;
    }
    .contactinfo {
        margin-left: 600px;
        margin-top: -203px;
    }
}