@media only screen and (min-width: 32.5em) {
    .box4 {
        grid-row: 2;
        grid-column: 1;
    }

    .box5 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .box6, .box7 {
        margin: 10px;
    }

    .box6 {
        margin-right: .2em;
    }

    .box7 {
        margin-left: 0;
    }

    .box8 {
        display: block;
    }

    .box2 {
        grid-row: 5;
        grid-column: 1;
    }
    .box3 {
        grid-column: 1;
        grid-row: 5;
        width: 50%;
    }

    hr.solid {
        width: 42em;
    }
}