header {
    background-color: #5293A6;
    border-radius: 1em / 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile {
    display: flex;
    padding-left: 200px;
}
.description {
    justify-content: flex-end;
    font-family: Roboto, Helvetica, sans-serif;
    color: #5A3226;
}
h1 {
    flex: 50%;
    padding-left: 40px;
    padding-top: 120px;
    color: white;
}
h4 {
    font-family: Roboto, Helvetica, sans-serif;
    color: #5A3226;
}
ul {
    margin: 0 auto;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    background-color: #5293A6;
    border-radius: 1em / 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}