header {
    background-color: #5293A6;
    /* border-radius: 1em / 1em; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile {
    display: flex;
    justify-content: space-between;
}
img {
    max-width: 40%;
    display: block;
    padding-left: 5%;
}
.description {
    justify-content: flex-end;
    font-family: Roboto, Helvetica, sans-serif;
    color: #5A3226;
}
h1 {
    flex: 50%;
    font-size: 1.3rem;
    padding-left: 5%;
    padding-top: 20%; 
    color: white;
}
h4 {
    font-family: Roboto, Helvetica, sans-serif;
    color: #5A3226;
}
ul {
    margin: 0 auto;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    background-color: #5293A6;
    /* border-radius: 1em / 1em; */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}